/* =======debut profil======== */
.profil{
    color: #fff;
    margin-left: 10px;
    background-color: rgb(60, 111, 168);
}
.profil p{
    color: rgb(241, 240, 240);
}
.profil hr{

    width: 250px;
    
    background-color: rgba(67, 193, 231, 0.808);
}
.profil span{
    color: rgb(185, 185, 185);
    font-size: 13px;
}
img{
    width: 150px;
    height: 150px;
}
.partieinfo{
    margin-left: 40px;
}
i{
    font-size: 30px;
}
.partie2{
    margin-left: 10px;
}


/* =======fin profil======= */

/* =======debut personnalité======= */



/* =======fin personnalité===== */
.personnalite{
    background-color: lightgray;

}
.personnalite p{
    color: gray;
}
.div1{
    background-color: #fff;
    width: 95%;
    margin-top: 20px;
    margin-left: 20px;
}
.divp{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.hobbie i{
    color: rgb(89, 160, 241);
}

.hspan h5 span{
    color: gray;
    font-size: 15px;
}